<template>
  <div class="container">
    <div class="text-h3">Necktie Doctor Booking Portal</div>
  </div>
</template>

<script>
export default {
  name: 'Header',
};
</script>
<style scoped>
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
